<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xilopaint.alfredapp.things</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>229F7374-A1F9-4E12-90A9-0EB2E53BE6F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3867DA5D-4EF1-486E-9466-FFB2DE5C28D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D229F3C6-3F25-46CB-B0C4-6F07E8C72A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EB93881-CADF-4C5F-9D6B-11492B272AA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44DE76AA-7E4C-415C-BDCE-766A03D2E84B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8CD5DD7-9957-4CAD-9D0A-AC621FBBBE20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C60799D-2C1A-47F4-B53B-868E05505976</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3267DB3-23F8-4095-B65C-DEA83D26E20B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB48B92A-364C-4978-AC71-292006C9C8D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DB2FF01-2BAD-4CBC-B8F3-191C75E439D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A390B5C-3786-4DF4-8B3C-7681A1DA5042</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A390B5C-3786-4DF4-8B3C-7681A1DA5042</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99FD94F8-F88E-4BCB-A0BA-658A75667091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>505E4FEA-777A-4A73-86D9-0E0F242B9348</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8B58F7DE-3D23-4985-BB39-A34A703ED3F7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show in Things</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2885537-1013-4DDF-9ECD-0B360A48C037</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add To-do</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D07096D0-CF69-4627-8B39-F57C48DA74D0</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Empty the trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B58F7DE-3D23-4985-BB39-A34A703ED3F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>894661DD-1987-421B-BD3E-509388201DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99FD94F8-F88E-4BCB-A0BA-658A75667091</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA85DE63-C665-4D56-AC20-9E903848E933</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>229F7374-A1F9-4E12-90A9-0EB2E53BE6F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB48B92A-364C-4978-AC71-292006C9C8D4</key>
		<array/>
		<key>B2885537-1013-4DDF-9ECD-0B360A48C037</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA85DE63-C665-4D56-AC20-9E903848E933</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8CD5DD7-9957-4CAD-9D0A-AC621FBBBE20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5B4F750-0BBF-4FE1-BD1A-D7AF181DF676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D07096D0-CF69-4627-8B39-F57C48DA74D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D229F3C6-3F25-46CB-B0C4-6F07E8C72A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3267DB3-23F8-4095-B65C-DEA83D26E20B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB48B92A-364C-4978-AC71-292006C9C8D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44DE76AA-7E4C-415C-BDCE-766A03D2E84B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show To-dos in Project</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3EB93881-CADF-4C5F-9D6B-11492B272AA7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Mark as Completed</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2074555-17FA-4CD8-9B40-89C3FC65259E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Mark as Canceled</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FAACADF3-ACD4-4268-90EC-26BCD0BB5598</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D07096D0-CF69-4627-8B39-F57C48DA74D0</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Empty Trash</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA4C9E1E-0596-41FB-BC31-7373CBDFD0ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C60799D-2C1A-47F4-B53B-868E05505976</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2074555-17FA-4CD8-9B40-89C3FC65259E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3267DB3-23F8-4095-B65C-DEA83D26E20B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98EF3611-33F6-42B7-948D-59CF038413AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAACADF3-ACD4-4268-90EC-26BCD0BB5598</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arthur Pinheiro</string>
	<key>description</key>
	<string>Interact with Things 3 using Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Things</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>todo</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>98EF3611-33F6-42B7-948D-59CF038413AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>back</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F3267DB3-23F8-4095-B65C-DEA83D26E20B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"showToDoInThings", "{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB48B92A-364C-4978-AC71-292006C9C8D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"showToDos"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D229F3C6-3F25-46CB-B0C4-6F07E8C72A22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3867DA5D-4EF1-486E-9466-FFB2DE5C28D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>list</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1943E391-FA03-4E97-80CC-91AA5E85AD64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>99FD94F8-F88E-4BCB-A0BA-658A75667091</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>project</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DA4C9E1E-0596-41FB-BC31-7373CBDFD0ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>project</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C5B4F750-0BBF-4FE1-BD1A-D7AF181DF676</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"showToDosInProject", "{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C60799D-2C1A-47F4-B53B-868E05505976</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C8CD5DD7-9957-4CAD-9D0A-AC621FBBBE20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>back</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>44DE76AA-7E4C-415C-BDCE-766A03D2E84B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/xilopaint/alfred-things/master/src/info.plist'
readonly workflow_url='xilopaint/alfred-things'
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>505E4FEA-777A-4A73-86D9-0E0F242B9348</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>todo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6DB2FF01-2BAD-4CBC-B8F3-191C75E439D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"showLists"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7A390B5C-3786-4DF4-8B3C-7681A1DA5042</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"showListInThings"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>894661DD-1987-421B-BD3E-509388201DC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"markAsCompleted", "{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EB93881-CADF-4C5F-9D6B-11492B272AA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8B58F7DE-3D23-4985-BB39-A34A703ED3F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"markAsCanceled", "{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2074555-17FA-4CD8-9B40-89C3FC65259E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a title for the new to-do.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA85DE63-C665-4D56-AC20-9E903848E933</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"deleteToDo", "{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FAACADF3-ACD4-4268-90EC-26BCD0BB5598</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"addToDo", "{query}"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>229F7374-A1F9-4E12-90A9-0EB2E53BE6F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B2885537-1013-4DDF-9ECD-0B360A48C037</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script "things.applescript" with parameters {"emptyTrash"}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D07096D0-CF69-4627-8B39-F57C48DA74D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Things for Alfred

Interact with [Things 3][1] using [Alfred][2].

## Download and Installation

Download the workflow file from [GitHub releases][3] and install it by double-clicking on `Things.alfredworklow`.

## Usage

* Use the keyword `todo` to show Things lists and action any of them for displaying the corresponding to-dos.
* Action a to-do to display it in the Things UI.
* Try the modifier keys either in lists or in to-dos to know other actions.

## Contribute

To report a bug or request a feature, please [create an issue][4] or [submit a pull request][5] on GitHub.

## Credits

This workflow relies on [qWorkflow][6] library by Ursan Razvan and [OneUpdater][7] by Vítor Galvão. The to-do icon is created by [Jason Zigrino][8] and released under the [Creative Commons BY-NC-ND 3.0 license][9].

## License

**Things** workflow code is released under the [MIT License][10].

[1]:https://culturedcode.com/things/
[2]:http://www.alfredapp.com/
[3]:https://github.com/xilopaint/alfred-things/releases/latest
[4]:https://github.com/xilopaint/alfred-things/issues
[5]:https://github.com/xilopaint/alfred-things/pulls
[6]:https://github.com/qlassiqa/qWorkflow
[7]:https://github.com/vitorgalvao/alfred-workflows/tree/master/OneUpdater
[8]:https://jasonzigrino.deviantart.com
[9]:https://creativecommons.org/licenses/by-nc-nd/3.0/legalcode
[10]:https://opensource.org/licenses/MIT</string>
	<key>uidata</key>
	<dict>
		<key>1943E391-FA03-4E97-80CC-91AA5E85AD64</key>
		<dict>
			<key>xpos</key>
			<integer>1980</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>229F7374-A1F9-4E12-90A9-0EB2E53BE6F2</key>
		<dict>
			<key>note</key>
			<string>Add To-do</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>3867DA5D-4EF1-486E-9466-FFB2DE5C28D4</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>3EB93881-CADF-4C5F-9D6B-11492B272AA7</key>
		<dict>
			<key>note</key>
			<string>Mark as Completed</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>44DE76AA-7E4C-415C-BDCE-766A03D2E84B</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>505E4FEA-777A-4A73-86D9-0E0F242B9348</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>6C60799D-2C1A-47F4-B53B-868E05505976</key>
		<dict>
			<key>note</key>
			<string>Show To-dos in Project</string>
			<key>xpos</key>
			<integer>1750</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>6DB2FF01-2BAD-4CBC-B8F3-191C75E439D6</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>7A390B5C-3786-4DF4-8B3C-7681A1DA5042</key>
		<dict>
			<key>note</key>
			<string>Show Lists</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>894661DD-1987-421B-BD3E-509388201DC1</key>
		<dict>
			<key>note</key>
			<string>Show List in Things</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>8B58F7DE-3D23-4985-BB39-A34A703ED3F7</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>98EF3611-33F6-42B7-948D-59CF038413AC</key>
		<dict>
			<key>note</key>
			<string>Back to Lists</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>99FD94F8-F88E-4BCB-A0BA-658A75667091</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>AA85DE63-C665-4D56-AC20-9E903848E933</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>AB48B92A-364C-4978-AC71-292006C9C8D4</key>
		<dict>
			<key>note</key>
			<string>Show To-do in Things</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>B2885537-1013-4DDF-9ECD-0B360A48C037</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>C5B4F750-0BBF-4FE1-BD1A-D7AF181DF676</key>
		<dict>
			<key>xpos</key>
			<integer>1450</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>C8CD5DD7-9957-4CAD-9D0A-AC621FBBBE20</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>D07096D0-CF69-4627-8B39-F57C48DA74D0</key>
		<dict>
			<key>note</key>
			<string>Empty Trash</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>D229F3C6-3F25-46CB-B0C4-6F07E8C72A22</key>
		<dict>
			<key>note</key>
			<string>Show To-dos</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>DA4C9E1E-0596-41FB-BC31-7373CBDFD0ED</key>
		<dict>
			<key>xpos</key>
			<integer>1590</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>F2074555-17FA-4CD8-9B40-89C3FC65259E</key>
		<dict>
			<key>note</key>
			<string>Mark as Canceled</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>F3267DB3-23F8-4095-B65C-DEA83D26E20B</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>FAACADF3-ACD4-4268-90EC-26BCD0BB5598</key>
		<dict>
			<key>note</key>
			<string>Delete</string>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.5</string>
	<key>webaddress</key>
	<string>https://github.com/xilopaint/alfred-things</string>
</dict>
</plist>
